[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
numpy = "*"
scipy = "*"
interruptingcow = "*"
ipython = "*"
nbformat = "*"
nbconvert = "*"
wxpython = "*"

[dev-packages]

[requires]
python_version = "3.7"
